*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F7F0F0;
}
.regresar{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.regresar:hover {
    color: #DD1155;
    transform: scale(1.05);
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 600px;
    border: 4px solid #AD5CA1;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

/*Diseño dle scrollbar*/
.container::-webkit-scrollbar {
    width: 7px;
}
.container::-webkit-scrollbar-track {
    background: #AD5CA1;
    border-radius: 5px;
}
.container::-webkit-scrollbar-thumb:hover {
    background: #DD1155;
}
.container::-webkit-scrollbar-thumb {
    background: #42213D;
    border-radius: 10px;
}

.titulo{
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"], .form-control {
    border: 2px solid #AD5CA1;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
}

input[type="text"], input[type="password"], input[type="submit"]:focus{
    outline: none;
    border-color: #AD5CA1;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #AD5CA1;
    color: #000000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.recuperar{
    text-decoration: none;
    color: #AD5CA1;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #DD1155;
    transform: scale(1.05);
}

.recuperar:hover{
    color: #DD1155;
}

.introduccion{
    text-align: center;
    margin: 15px;
    max-width: 400px;
    padding: 30px;
    margin-left: 80px;
}

.introduccion h1{
    margin-bottom: 15px;
    cursor: pointer;
}

.introduccion p{
    padding: 5px;
    cursor: pointer;
}

.btn{
    background-color: #AD5CA1;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px ;
    margin-top: 15px;
    font-weight: 500;
    align-items: center;
}

.btn:hover{
    background-color: #DD1155;
    transform: scale(1.05);
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


.help-text {
    font-size: 12px;
    display: none;
}


input:focus + .help-text {
    display: block;
}

input:focus + .help-text {
    display: block;
}

.helptext {
    font-size: 0.9rem;
    color: #DD1155;
    margin-top: 2px;
    display: block;
}

.mod-password{
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: #F7F0F0;
    border: #AD5CA1 2px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.mod-cont{
    padding: 30px;
    max-width: 500px;
    margin: 5% auto;
}

.cerrar{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.cerrar:hover{
    color: #DD1155;
}