*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
/*
HEADER
*/
header{
    overflow: visible;
    padding: 0 0;
    position: relative;
    zoom: 0.8;   
    display: block;
}
header .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 2vw;
    position: relative;
}
header .sociales{
    display: flex;
    position: absolute;
    align-items: center;
    top: 20px;
    left: 2vw;
    transform: none;
    gap: 10px;
    zoom: 1;
}
header .sociales li{
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
}
header .sociales li.face i{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('../img/ico-face.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
header .sociales li.ig i{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('../img/ico-ig.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
header .sociales li:after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 18px;
    background: #AD5CA1;
    margin-left: 10px;
}
header .logo{
    width: 20%;
    max-width: 224px;
    margin: 20px auto;
    flex: 1;
}
header .logo a{
    display: block;
    margin: 0;
}
header .logo a img{
    display: block;
    margin: 0;
    width: 110px;
}
header .icons{
    position: absolute;
    display: flex;
    align-items: center;
    top: 70px;
    right: 2vw;
    transform: none;
    margin: 0;
}
header .icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-reg{
    background-color: #AD5CA1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 500;
}
.btn-reg:hover{
    background-color: #DD1155;
    transform: scale(1.05);
}
header .icons li {
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 1.5em;
    position: relative;
}
header .icons li i{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
header .icons li a.user i {
    background-image: url('../img/ico-user.png'); 
}
header .icons li a.search i {
    background-image: url('../img/ico-search.png'); 
}

header .icons .search-form form {
    width: 100%; 
}
header .icons input[type="search"] {
    display: inline-block;
    width: calc(100% - 40px);
    max-width: 220px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: center; 
}
header .busqueda{
    position: absolute;
    right: 2vw;
    bottom: 5px;
    width: 270px;
}
header .busqueda form{
    width: 100%;
    display: flex;
    overflow: visible;
    position: relative;
}
header .busqueda form input[type="search"]{
    flex: 1;
    height: 40px;
    border: 2px solid #AD5CA1;
    color: #AD5CA1;
    font-size: 1.0625em;
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 4px 0 0 4px;
    outline: none;
}
header .busqueda form button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    border: 2px solid #AD5CA1;
    border-radius: 0 4px 4px 0;
}
header .busqueda form button i.lupa{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../img/ico-search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
}
/*
NAVBAR
*/
nav{
    width: 100%;
    overflow: visible;
    background-color: #AD5CA1;
    padding: 10px 0;
}
nav ul.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}
nav ul.menu li{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}
nav ul.menu li a.navegacion{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 15px;
}
nav ul.menu li a.navegacion:hover {
    color: #DD1155;
}
.custom-menu {
    border: 1px solid #AD5CA1;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(173, 92, 161, 0.2);
    padding: 10px 0;
    margin-top: 8px;
    min-width: 180px;
}
.custom-menu .dropdown-item {
    color: #5a2d50;
    font-weight: 500;
    padding: 10px 20px;
    transition: background 0.2s ease;
}
.custom-menu .dropdown-item:hover {
    background-color: #fad6f2;
    color: #DD1155;
    border-radius: 6px;
}
/*-----------------*/
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.cent-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-btn{
    display: flex;
    position: relative;
    top: 10px;
    left: 10px;
}

.regresar{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.regresar:hover {
    color: #DD1155;
    transform: scale(1.05);
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 600px;
    border: 4px solid #AD5CA1;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

/*Diseño dle scrollbar*/
.container::-webkit-scrollbar {
    width: 7px;
}
.container::-webkit-scrollbar-track {
    background: #AD5CA1;
    border-radius: 5px;
}
.container::-webkit-scrollbar-thumb:hover {
    background: #DD1155;
}
.container::-webkit-scrollbar-thumb {
    background: #42213D;
    border-radius: 10px;
}

.titulo{
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

input[type="text"], 
input[type="password"], 
input[type="email"],
input[type="date"],
.form-control,
select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    background-color: white;
}

input[type="password"], input[type="submit"]:focus{
    outline: none;
    border-color: #AD5CA1;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #AD5CA1;
    color: #000000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.recuperar{
    text-decoration: none;
    color: #AD5CA1;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #DD1155;
    transform: scale(1.05);
}

.recuperar:hover{
    color: #DD1155;
}

.introduccion{
    text-align: center;
    margin: 15px;
    max-width: 400px;
    padding: 30px;
    margin-left: 80px;
}

.introduccion h1{
    margin-bottom: 15px;
    cursor: pointer;
}

.introduccion p{
    padding: 5px;
    cursor: pointer;
}

.btn{
    background-color: #AD5CA1;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px ;
    margin: 15px;
    font-weight: 500;
    align-items: center;
}

.btn:hover{
    background-color: #DD1155;
    transform: scale(1.05);
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.help-text {
    font-size: 12px;
    display: none;
}

input:focus + .help-text {
    display: block;
}

input:focus + .help-text {
    display: block;
}

.helptext {
    font-size: 0.9rem;
    color: #DD1155;
    margin-top: 2px;
    display: block;
}

.mod-password{
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: #F7F0F0;
    border: #AD5CA1 2px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.mod-cont{
    padding: 30px;
    max-width: 500px;
    margin: 5% auto;
}

.cerrar{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.cerrar:hover{
    color: #DD1155;
}
/*
PROFILE
*/
.profile-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.profile-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    max-width: 800px;
    margin: 20px;
    margin-left: 100px;
}

.perfil-cont{
    flex: 1;
}

.perfil-foto {
    position: relative;
    width: 197px;
    height: 197px;
    margin: 0 auto;
}

.perfil-foto img:first-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.marco-membresia {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 108%;
    height: 108%;
}


.btns-perfil{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;
    height: 120px;
    margin: 10px;
}
/*
PRODUCTOS PERFIL
*/
.add-prod a.btn{
    margin: 15px;
    padding: 10px;
}
.list-prod{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin: 2rem;
}
/*OPCIONES*/
.mas-opc {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
}
.toggle-btn{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20%;
    padding: 0.4rem;
    cursor: pointer;
}
.drop-opc{
    display: none;
    position: absolute;
    top: 4rem;
    right: -30px;
    z-index: 100;
    list-style: none;
    cursor: pointer;
    background-color: #AD5CA1;
    padding: 0;
    margin: 0;
    width: 100px;
    border-radius: 10px;
}
.drop-opc li {
    border-bottom: 1px solid #eee;
}
.drop-opc li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.drop-opc li:hover {
    background-color: #DD1155;
    border-radius: 10px;
}

/*
PRODUCTOS DESTACADOS
*/
.prod-dest{
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 700;
    color: #AD5CA1;
    text-align: center;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}
.title-left{
    text-align: left;
}

.container-items{
    width: 100%;
    padding: 15px;
}

.grid-prod{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin: 0 auto;
    gap: 20px;
}
.product{
    display: flex;
    justify-content: center;
}
.card-product{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
    height: 100%;
    background: #fff;
    border: 2px solid #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
}
.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;
    text-align: center;
}
.card-body img {
    border-radius: 10px;
    object-fit: cover;
    height: 180px;
    width: 100%;
    margin-bottom: 10px;
}
.card-body .btn{
    margin-top: auto;
}
/*
VER PRODUCTO
*/
.prod-detalle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 12px;
    gap: 40px;
}
.prod-detalle .izq{
    width: 40%;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}
.prod-detalle .izq img{
    max-width: 400px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.prod-detalle .der{
    width: 60%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.prod-detalle .der .precio {
    font-size: 1.4em;
    color: #AD5CA1;
    font-weight: bold;
}
.prod-detalle .der h2{
    text-transform: uppercase;
    font-weight: 700;
    color: #AD5CA1;
    text-align: left;
    font-size: 1.8em;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}
.prod-detalle .der p{
    font-size: 1.1em;
}
/*SECCION DE COMENTAR*/
.comment-form{
    max-width: 600px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.comment-form textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: inherit;
}
.stars span {
    font-size: 2rem;
    color: #ddd;
    margin-right: 5px;
    transition: color 0.2s;
}
.stars span:hover,
.stars span.selected {
    color: #ffc107;
}
/*OPINIONES OTROS USUARIOS*/
.calificaciones{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 0;
    margin: 20px;
}
.cal-card{
    border: 2px solid #ccc;
    min-width: 220px;
    max-width: 250px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}
.cal-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.cal-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 15px;
}
.cal-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cal-card-body {
    display: flex;
    flex-direction: column;
}
.cal-card-titulo {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #AD5CA1;
}
.cal-rating .star {
    font-size: 1rem;
    color: #ddd;
}
.cal-rating .full {
    color: #ffc107;
}
/*
VER TODO
*/
.ver-todo{
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}
.clear{
    width: 90%;
    margin: 0 auto;
}
.sidebar{
    width: 240px;
    float: left;
    margin-top: 20px;
    text-align: left;
}
.filtro-bloque{
    margin-bottom: 20px;
}
.radio-label{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}
.radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.radio-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #636363;
    box-sizing: border-box;
}
.radio-label input:checked + .radio-custom {
    background-color: #AD5CA1;
    border: 2px solid #42213D;
  }
.radio-custom::after {
    content: "";
    position: absolute;
    display: none;
}
.radio-label input:checked + .radio-custom::after {
    display: block;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.radio-label .radio-custon::after{
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.coleccion{
    width: calc(100% - 240px);
    float: right;
    margin-top: 20px;
}
.coleccion .col-lib-vid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productos-contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}
.producto-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    height: 100%;
    position: relative;
}
.producto-img img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.producto-info {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
.producto-card-link {
    text-decoration: none;
    color: inherit;
  }
/*
FOOTER
*/
footer{
    background: url('../img/bg-footer.png');
    background-repeat: repeat;
    background-size: 1219px 310px;
    background-attachment: fixed;
    width: 100%;
    overflow: auto;
    padding: 60px 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    color: white;
    text-align: center;
    gap: 20px;
    padding: 0 40px;
}
.footer-container p,
.footer-container ul {
    margin: 10px 0;
}
.footer-nosotros ul {
    list-style: none;
    padding: 0;
}
.footer-nosotros ul li a {
    color: white;
    text-decoration: none;
}
.footer-nosotros ul li a:hover,
.footer-sociales a:hover {
    text-decoration: underline;
}
.footer-sociales{
    margin: 10px 0;
}
.footer-sociales a {
    color: white;
    text-decoration: none;
}
/*ALERTA*/
/* Estilo para las alertas */
.mensajes{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    z-index: 100;
}
.alert {
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.alert-hidden {
    opacity: 0;
    pointer-events: none;
}

.alert-success {
    background-color: #4CAF50;
    color: white;
}

.alert-error {
    background-color: #f44336;
    color: white;
}

.alert.warning {
    background-color: #ff9800;
    color: white;
}

.alert.info {
    background-color: #2196F3;
    color: white;
}
/* FIN ALERTA */

/*ADMIN */
.mem-container{
    max-width: 1000px;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin: auto;
    padding: 2rem;
}

.mem-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}
.mem-card{
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 1rem;
    background: #fdf9ff;
}
.mem-card h3{
    margin-top: 0;
    color: #AD5CA1;
}

.mem-acciones{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.btn-mem-edit, .btn-mem-del{
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
.btn-mem-edit{
    background-color: #AD5CA1;
    color: white;
}
.btn-mem-edit:hover{
    background-color: #DD1155;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn-mem-del{
    background-color: #5a2d50;
    color: white;
}
.btn-mem-del:hover{
    background-color: #42213D;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.mem-form-container{
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 1000px;
    margin: auto;
    padding: 2rem;
}
/*EDITAR FORMULARIO*/
.mem-form-container label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.mem-form-container input,
.mem-form-container textarea,
.mem-form-container select{
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s;
}


.mem-form-container input:focus,
.mem-form-container textarea:focus,
.mem-form-container select:focus {
    outline: none;
    border-color: #AD5CA1;
}
.mem-form-container input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    transform: scale(1.4);
    vertical-align: middle;
}

/* VISTA USUARIOS */
.admin-users{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0 2rem;
}

.user-card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    transition: transform 0.3s;
}
.user-card:hover{
    transform: translateY(-5px);
}
.acciones-usuario{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.btn-ver, .btn-eliminar{
    font-size: 13px;
}
.btn-eliminar{
    background-color: #5a2d50;
}

.filtros-user-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 1rem;
}
.filtros-user-admin{
    padding: 0.5rem 1rem;
}
.filtros-user-admin button {
    margin-top: 26px;
}

/* REPORTE DE PRODUCTOS */
.filtro-report{
    padding: 2rem;
    margin-bottom: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 15px;
    border: 1px solid #ccc;
}
.filtro-report-grupo{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.filtro-report-grupo input[type="text"],
.filtro-report-grupo input[type="date"]{
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    min-width: 200px;
}
.report-btns{
    display: flex;
    gap: 1rem;
}