*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
/*
HEADER
*/
header{
    overflow: visible;
    padding: 0 0;
    position: relative;
    zoom: 0.8;   
    display: block;
}
header .banner{
    position: relative;
    overflow: visible;
}
header .sociales{
    display: flex;
    position: absolute;
    align-items: center;
    top: 20px;
    left: 2vw;
    transform: none;
    gap: 10px;
    zoom: 1;
}
header .sociales li{
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
}
header .sociales li.face i{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('../img/ico-face.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
header .sociales li.ig i{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('../img/ico-ig.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
header .sociales li:after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 18px;
    background: #AD5CA1;
    margin-left: 10px;
}
header .logo{
    width: 20%;
    max-width: 224px;
    margin: 20px auto;
}
header .logo a{
    display: block;
    margin: 0;
}
header .logo a img{
    display: block;
    margin: 0;
    width: 179px;
}
header .icons{
    position: absolute;
    display: flex;
    align-items: center;
    top: 70px;
    right: 2vw;
    transform: none;
    margin: 0;
}
header .icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.icons form {
    margin-top: -10px;
}
.btn-reg{
    background-color: #AD5CA1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 500;
}
.btn-reg:hover{
    background-color: #DD1155;
    transform: scale(1.05);
}
header .icons li {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.5em;
    position: relative;
}
header .icons li i{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
header .icons li a.user i {
    background-image: url('../img/ico-user.png'); 
}
header .icons li a.search i {
    background-image: url('../img/ico-search.png'); 
}

header .icons .search-form form {
    width: 100%; 
}
header .icons input[type="search"] {
    display: inline-block;
    width: calc(100% - 40px);
    max-width: 220px;
    border: 1px solid #efefef;
    padding: 5px 10px;
    text-align: center; 
}
header .busqueda{
    position: absolute;
    right: 2vw;
    bottom: 30px;
    width: 270px;
}
header .busqueda form{
    width: 100%;
    display: flex;
    overflow: visible;
    position: relative;
}
header .busqueda form input[type="search"]{
    flex: 1;
    height: 40px;
    border: 2px solid #AD5CA1;
    color: #AD5CA1;
    font-size: 1.0625em;
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 4px 0 0 4px;
    outline: none;
}
header .busqueda form button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    border: 2px solid #AD5CA1;
    border-radius: 0 4px 4px 0;
}
header .busqueda form button i.lupa{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../img/ico-search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
}
/*
NAVBAR
*/
nav{
    width: 100%;
    overflow: visible;
    background-color: #AD5CA1;
    padding: 10px 0;
}
nav ul.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}
nav ul.menu li{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}
nav ul.menu li a.navegacion{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 15px;
}
nav ul.menu li a.navegacion:hover {
    color: #DD1155;
}

/*-----------------*/
body {
    overflow-x: hidden;
    height: 100vh;
}

.cent-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-btn{
    position: fixed;
    top: 80px;
    left: 10px;
    z-index: 1000;
}

.regresar{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.regresar:hover {
    color: #DD1155;
    transform: scale(1.05);
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 600px;
    border: 4px solid #AD5CA1;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

/*Diseño dle scrollbar*/
.container::-webkit-scrollbar {
    width: 7px;
}
.container::-webkit-scrollbar-track {
    background: #AD5CA1;
    border-radius: 5px;
}
.container::-webkit-scrollbar-thumb:hover {
    background: #DD1155;
}
.container::-webkit-scrollbar-thumb {
    background: #42213D;
    border-radius: 10px;
}

.titulo{
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
.form-control,
select {
    border: 2px solid #AD5CA1;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    background-color: white;
}

input[type="text"], input[type="password"], input[type="submit"]:focus{
    outline: none;
    border-color: #AD5CA1;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #AD5CA1;
    color: #000000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.recuperar{
    text-decoration: none;
    color: #AD5CA1;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #DD1155;
    transform: scale(1.05);
}

.recuperar:hover{
    color: #DD1155;
}

.introduccion{
    text-align: center;
    margin: 15px;
    max-width: 400px;
    padding: 30px;
    margin-left: 80px;
}

.introduccion h1{
    margin-bottom: 15px;
    cursor: pointer;
}

.introduccion p{
    padding: 5px;
    cursor: pointer;
}

.btn{
    background-color: #AD5CA1;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px ;
    margin-top: 15px;
    font-weight: 500;
    align-items: center;
}

.btn:hover{
    background-color: #DD1155;
    transform: scale(1.05);
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.help-text {
    font-size: 12px;
    display: none;
}

input:focus + .help-text {
    display: block;
}

input:focus + .help-text {
    display: block;
}

.helptext {
    font-size: 0.9rem;
    color: #DD1155;
    margin-top: 2px;
    display: block;
}

.mod-password{
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: #F7F0F0;
    border: #AD5CA1 2px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.mod-cont{
    padding: 30px;
    max-width: 500px;
    margin: 5% auto;
}

.cerrar{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.cerrar:hover{
    color: #DD1155;
}

.profile-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    margin: 20px;
    margin-left: 100px;
}

.perfil-cont{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;
    align-content: flex-start;
}

.perfil-foto img {
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.btns-perfil{
    display: flex;
    justify-content: space-between;
}
/*
PRODUCTOS DESTACADOS
*/
.prod-dest{
    text-transform: uppercase;
    font-weight: 700;
    color: #AD5CA1;
    text-align: center;
    font-size: 1.8em;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.container-items{
    width: 100%;
    padding: 20px;
}

.grid-prod{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.product{
    display: flex;
    justify-content: center;
}
.card-product{
    width: 100%;
    max-width: 220px;
    border: 2px solid #AD5CA1;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.card-body {
    padding: 15px;
    text-align: center;
}