{% extends "index/base.html" %}
{% block body %}

<div class="title-prod mt-5 text-center">
    <h1 class="prod-dest fw-bold">Mis Favoritos</h1>
</div>

<div class="container-items">
    {% if favoritos %}
        <div class="grid-prod" id="product-container">
            {% for producto in favoritos %}
                <div class="product">
                    <div class="card-product">
                         <div class="card-body">
                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        {% endif %}
                       
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text"><strong>Usuario:</strong> {{ producto.usuario.username }}</p>
                            <p class="card-text"><strong>Estado:</strong> {{ producto.estado }}</p>
                            <a href="{% url 'ver_producto' id_producto=producto.id_producto %}" class="btn btn-primary">Ver</a>
                        </div> 
                    </div> 
                </div> 
            {% endfor %}
        </div> 
    {% else %}
        <p class="text-center text-muted">No tienes productos favoritos aún.</p>
    {% endif %}
</div>

{% endblock %}
