{% extends "index/base.html" %}
{% block title %}Alpatex{% endblock title %}
{% block body %}
    <div class="title-prod">
        <h2 class="prod-dest">Productos Destacados</h1>
    </div>

    <div class="container-items">
        <div class="grid-prod" id="product-container">
            {% for x in productos %}
                <div class="product">
                    <div class="card-product">
                        <div class="card-body">
                            <h5 class="card-title">{{ x.nombre }}</h5>
                            <p class="price card-text">Precio: {{ x.usuario }}</p>
                            <p class="rating card-text">Calificación Promedio: {{ x.calificacion_promedio }}</p>  <!-- Mostrar la calificación promedio -->
                            <a href="{% url 'ver_producto' id_producto=x.id_producto %}" class="btn btn-primary">Ver Producto</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}