{% extends "index/base.html" %}
{% load static %}
{% block title %}Mis Mensajes{% endblock title %}
{% block body %}

    <div class="chat-wrapper">
        <!-- Lista de conversaciones -->
        <div class="chat-sidebar">
            <h2>Chats</h2>
            {% for inbox in inbox %}
                {% for second_user in inbox.canalusuario_set.all %}
                    {% if second_user.usuario != request.user %}
                        <a href="?canal_id={{inbox.id}}" class="chat-item">
                            <div class="chat-avatar">
                                {% if second_user.usuario.perfil.foto_perfil %}
                                    <img src="{{ second_user.usuario.perfil.foto_perfil.url }}" alt="Avatar">
                                {% else %}
                                    <img src="{% static 'img/usuario.png' %}" alt="Avatar">
                                {% endif %}
                            </div>
                            <div> 
                                {% if inbox.canalmensaje_set.count != 0 %}
                                    <div class="div_ms_inbox">
                                        {% with ultimo_mensaje=inbox.canalmensaje_set.all|dictsortreversed:"tiempo"|first %}
                                            <strong>{{ second_user.usuario }}</strong><br>
                                            <small>({{ inbox.canalmensaje_set.count }}) Mensajes: {{ultimo_mensaje.texto}}</small>
                                        {% endwith %}
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% empty %}
                <p>Inbox Vacío</p>
            {% endfor %}
        </div>

        <!-- Área de mensajes -->
        <div class="chat-main">
            {% if canal %}
                <div class="chat-header">
                    {% if canal %}
                        {% for usuario in canal.usuarios.all %}
                            {% if usuario != request.user %}
                                <div class="chat-header-user1">
                                    <!-- Foto de perfil -->
                                    <div class="chat-avatar1">
                                        {% if usuario.perfil.foto_perfil %}
                                            <img src="{{ usuario.perfil.foto_perfil.url }}" alt="Avatar" width="40px" height="40px">
                                        {% else %}
                                            <img src="{% static 'img/usuario.png' %}" alt="Avatar" width="40px" height="40px">
                                        {% endif %}
                                    </div>
                                    <!-- Nombre del usuario -->
                                    <h2>{{ usuario.username }}</h2>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="chat-messages">
                    {% for mensaje in canal.canalmensaje_set.all|dictsort:"tiempo" %}
                        <div class="message-bubble {% if request.user == mensaje.usuario %}own{% else %}other{% endif %}">
                            <div class="message-content">
                                <p>{{ mensaje.texto }}</p>
                                <small>{{ mensaje.tiempo }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <form class="chat-input" action="?canal_id={{ canal.id }}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="mensaje" placeholder="Escribe un mensaje..." />
                    <button type="submit" class="send-button">
                        <img src="{% static 'img/enviar.png' %}" alt="Enviar mensaje" width="30px" height="30px">
                    </button>
                </form>
            {% else %}
                <p>Selecciona un canal para comenzar a chatear.</p>
            {% endif %}
        </div>
        
    </div>


{% endblock %}