{% extends "index/base.html" %}
{% load static %}
{% block title %}Mis Mensajes{% endblock title %}
{% block body %}
    <!-- <div class="reg-btn">
        <a onclick="window.history.back();" class="regresar">
            <span class="material-symbols-outlined">chevron_left</span> Regresar
        </a>
    </div> -->
    <div class="chat-wrapper">
        <!-- Lista de conversaciones -->
        <div class="chat-sidebar">
            <h2>Chats</h2>
            {% for inbox in inbox %}
                {% for second_user in inbox.canalusuario_set.all %}
                    {% if second_user.usuario != request.user %}
                        <a href="?canal_id={{inbox.id}}" class="chat-item">
                            <div class="chat-avatar">
                                {% if second_user.usuario.perfil.foto_perfil %}
                                    <img src="{{ second_user.usuario.perfil.foto_perfil.url }}" alt="Avatar">
                                {% else %}
                                    <img src="{% static 'img/usuario.png' %}" alt="Avatar">
                                {% endif %}
                            </div>
                            <div> 
                                {% if inbox.canalmensaje_set.count != 0 %}
                                    <div class="div_ms_inbox">
                                        {% with ultimo_mensaje=inbox.canalmensaje_set.all|dictsortreversed:"tiempo"|first %}
                                            <strong>{{ second_user.usuario }}</strong><br>
                                            <small>({{ inbox.canalmensaje_set.count }}) Mensajes: {{ultimo_mensaje.texto}}</small>
                                        {% endwith %}
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% empty %}
                <p>Inbox Vacío</p>
            {% endfor %}
        </div>

        <!-- Área de mensajes -->
        <div class="chat-main">
            {% if canal %}
                <div class="chat-header">
                    {% if canal %}
                        {% for usuario in canal.usuarios.all %}
                            {% if usuario != request.user %}
                                <div class="chat-header-user1">
                                    <!-- Foto de perfil -->
                                    <div class="chat-avatar1">
                                        {% if usuario.perfil.foto_perfil %}
                                            <img src="{{ usuario.perfil.foto_perfil.url }}" alt="Avatar" width="40px" height="40px">
                                        {% else %}
                                            <img src="{% static 'img/usuario.png' %}" alt="Avatar" width="40px" height="40px">
                                        {% endif %}
                                    </div>
                                    <!-- Nombre del usuario -->
                                    <h2>{{ usuario.username }}</h2>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="chat-messages">
                    {% for mensaje in canal.canalmensaje_set.all|dictsort:"tiempo" %}
                        <div class="message-bubble {% if request.user == mensaje.usuario %}own{% else %}other{% endif %}">
                            <div class="message-content">
                                <p>{{ mensaje.texto|safe }}</p>
                                <small>{{ mensaje.tiempo }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Boton de Confirmar Entrega Vendedor/Prosumidor -->
                {% if producto_relacionado and es_duenio_producto %}
                    <!-- Botón que abre el modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">
                        Confirmar Entrega
                    </button>
                    
                    <!-- Modal Bootstrap -->
                    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="confirmForm" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmModalLabel">Confirmar Entrega / Intercambio</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label>Producto:</label>
                                            <p><strong>{{ producto_relacionado.nombre }}</strong></p>
                                        </div>
                                        <div class="mb-3">
                                            <label for="lugar" class="form-label">Lugar</label>
                                            <input type="text" class="form-control" name="lugar" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="fecha" class="form-label">Fecha</label>
                                            <input type="date" class="form-control" name="fecha" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="hora" class="form-label">Hora</label>
                                            <input type="time" class="form-control" name="hora" required>
                                        </div>
                                        <!-- Mostrar nombre del producto como texto no editable -->
                                        
                                        <!-- Enviar el ID del producto de forma oculta -->
                                        <input type="hidden" name="producto_id" value="{{ producto_relacionado.id_producto }}">
                                        <input type="hidden" name="canal_id" value="{{ canal.id }}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Confirmar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                {% if mostrar_botones|default:False %}
                    <!-- Botón que abre el modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#calificarModal">
                        Recibido
                    </button>

                    <!-- Modal para calificar al vendedor -->
                    <div class="modal fade" id="calificarModal" tabindex="-1" aria-labelledby="calificarModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="calificarForm" method="POST" action="{% url 'calificar_vendedor' %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="calificarModalLabel">Calificar al Vendedor</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="puntaje" class="form-label">Calificación al vendedor</label>
                                            <select name="puntaje" class="form-control" required>
                                                <option value="1">1 estrella</option>
                                                <option value="2">2 estrellas</option>
                                                <option value="3">3 estrellas</option>
                                                <option value="4">4 estrellas</option>
                                                <option value="5">5 estrellas</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="comentario" class="form-label">Comentario</label>
                                            <textarea class="form-control" name="comentario"></textarea>
                                        </div>
                                        <!-- Aquí van los campos ocultos con la información del producto y el vendedor -->
                                        <input type="hidden" name="producto_id" value="{{ producto_relacionado.id_producto }}">
                                        <input type="hidden" name="vendedor_id" value="{{ producto_relacionado.usuario.id }}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Confirmar Calificación</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <form class="chat-input" action="?canal_id={{ canal.id }}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="mensaje" placeholder="Escribe un mensaje..." />
                    <button type="submit" class="send-button">
                        <img src="{% static 'img/enviar.png' %}" alt="Enviar mensaje" width="30px" height="30px">
                    </button>
                </form>
            {% else %}
                <p>Selecciona un canal para comenzar a chatear.</p>
            {% endif %}
        </div>
        
    </div>

    <script>
        document.getElementById("confirmForm").addEventListener("submit", function(e) {
            e.preventDefault();
            const formData = new FormData(this);
            fetch("{% url 'guardar_confirmacion_entrega' %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                },
                body: formData
            })
            .then(res => res.json())
            .then(data => {
                if (data.status === "ok") {
                    alert("Confirmación guardada correctamente.");
                    const modal = bootstrap.Modal.getInstance(document.getElementById('confirmModal'));
                    modal.hide();
                } else {
                    alert("Error: " + JSON.stringify(data.errores));
                }
            });
        });

        document.getElementById("calificarForm").addEventListener("submit", function(e) {
            e.preventDefault();
            const formData = new FormData(this);
            fetch("{% url 'calificar_vendedor' %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                },
                body: formData
            })
            .then(res => res.json())
            .then(data => {
                if (data.status === "ok") {
                    // Mostrar el mensaje de éxito aquí
                    alert("Gracias por calificar al vendedor.");
                } else {
                    // Mostrar el mensaje de error aquí
                    alert("Error: " + data.mensaje);
                }
            })
            .catch(error => {
                alert("Hubo un problema al enviar la calificación.");
            });
        });
    </script>
{% endblock %}