{% extends "index/base.html" %}
{% block title %}Mis Mensajes{% endblock title %}
{% block body %}
	<div class="reg-btn">
		<a href="{% url 'home' %}" class="regresar">
			<span class="material-symbols-outlined">chevron_left</span> Regresar
		</a>
	</div>

	<h1>Mensajes: {{user}}</h1>

	{% for inbox in inbox %}
		<div class="div_inbox">
			{% for second_user in inbox.canalusuario_set.all %}
				{% if second_user.usuario ==  request.user %}
				{% else %}
					<a href="{% url 'detailms' second_user.usuario.username %}">
						<p>{{second_user.usuario}}</p>
						<small>({{inbox.canalmensaje_set.count}}) Mensajes</small>
					</a>
				{% endif %}
			{% endfor %}

			{% if inbox.canalmensaje_set.count != 0 %}
				<div class="div_ms_inbox">
					{% with ultimo_mensaje=inbox.canalmensaje_set.all|dictsortreversed:"tiempo"|first %}
						<p>Mensaje: {{ultimo_mensaje.texto}}</p>
						<p>Usuario: {{ultimo_mensaje.usuario}}</p>
						<small>{{object.id}}</small>
					{% endwith %}
				</div>	
			{% else %}
				<p>No hay mensajes en nuestro inbox</p>
			{% endif %}
		</div>
		{% empty %}
		<h2>Inbox Vacio</h2>
	{% endfor %}	
{% endblock %}