{% extends "index/base.html" %}
{% load static %}
{% block body %}
  <h1 class="prod-dest">Libros Disponibles</h1>

  <div class="coleccion col-lib-vid">
    {% if libros %}
      <div class="productos-contenedor">
        {% for libro in libros %}
          <a href="{% url 'ver_producto' libro.id_producto %}" class="producto-card-link">
            <div class="producto-card">
              
              <div class="producto-img">
                {% if libro.imagen %}
                  <img src="{{ libro.imagen.url }}" alt="{{ libro.nombre }}">
                {% else %}
                  <img src="{% static 'images/default_book.png' %}" alt="Sin imagen">
                {% endif %}
              </div>

              <div class="producto-info">
                <strong>{{ libro.nombre }}</strong><br>
                <small>Publicado por: {{ libro.usuario.username }}</small><br>
                <small>Estado: {{ libro.estado }}</small><br>
                <small>Tipo: {{ libro.tipo }}</small><br>
                <small>Categoría: {{ libro.categoria }}</small><br>  
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>No hay libros disponibles.</p>
    {% endif %}
  </div>
  
{% endblock %}
