{% extends "index/base.html" %}
{% load static %}

{% block body %}
    <div class="reg-btn">
        <a href="{% url 'home' %}" class="regresar">
            <span class="material-symbols-outlined">chevron_left</span> Regresar
        </a>
    </div>

    <div class="profile-main">

        <div class="profile-container">
            <h2>Mi Perfil</h2>

            <div class="perfil-cont">
                <div class="perfil-foto">
                    <img src="{{ perfil.get_foto_perfil_url }}" alt="Foto de perfil" width="150">
                </div>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div>
                        <label for="foto_perfil_input" id="label_foto_perfil" style="display: none;"></label>
                        <input type="file" id="foto_perfil_input" name="foto_perfil" style="display: none;">
                    </div>

                    <div>
                        <label for="username_input">Nombre de usuario:</label>
                        <input type="text" id="username_input" name="username" value="{{ request.user.username }}" disabled>
                    </div>

                    <div>
                        <label for="email_input">Correo:</label>
                        <input type="email" id="email_input" name="email" value="{{ request.user.email }}" disabled>
                    </div>

                    <div>
                        <label for="genero_input">Género:</label>
                        <select id="genero_input" name="genero" disabled>
                            <option value="Masculino" {% if perfil.genero == 'Masculino' %}selected{% endif %}>Masculino</option>
                            <option value="Femenino" {% if perfil.genero == 'Femenino' %}selected{% endif %}>Femenino</option>
                            <option value="Otro" {% if perfil.genero == 'Otro' %}selected{% endif %}>Otro</option>
                        </select>
                    </div>
                    
                    <div>
                        <label for="rut_input">RUT:</label>
                        <input type="text" id="rut_input" name="rut" value="{{ perfil.rut|default:'RUT no disponible' }}" disabled>
                    </div>

                    <div>
                        <label for="direccion_input">Dirección:</label>
                        <input type="text" id="direccion_input" name="direccion" value="{{ perfil.direccion|default:'Dirección no disponible' }}" disabled>
                    </div>
                    
                    <button type="submit" id="guardar_editar" class="btn">Guardar cambios</button>
                </form>

                <button id="btn_editar" onclick="toggleEdit(true)" class="btn"> Editar perfil</button>
            </div>
        </div>

        <div class="btns-perfil">
            <a href="{% url 'productos_perf' %}" class="btn">Mis Productos</a>
            <a href="{% url 'inbox' %}" class="btn">Mis Mensajes</a>
            <a href="#" class="btn">Mis Compras</a>
            <a href="{% url 'ver_membresia_usuario' %}" class="btn">Mi Membresía</a>
            
        </div>
    </div>

{% endblock %}
