{% extends "index/base.html" %}
{% load static %}

{% block body %}
  <h1 class="prod-dest">Agregar Producto</h1>
  
  <div class="add-prod-wrapper">
    <form method="POST" enctype="multipart/form-data" class="add-prod-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </form>

    <div class="img-previa-cont">

      <p>Vista previa de imagen: </p>

      <img src="{% static 'img/ALPATEX-V4.svg' %}" alt="vista previa" class="img-previa" id="img-previa">

    </div>

  </div>
  
{% endblock %}
