{% extends "index/base.html" %}
{% load static %}

{% block body %}
  <h1 class="prod-dest">Productos Disponibles</h1>

  <div class="ver-todo">
    <div class="clear">
      <div class="sidebar">
        <h4 class="prod-dest title-left">Catálogo</h4>
        <div class="filtro-menu">       

          <div class="filtro-bloque">
            <h5 class="prod-dest title-left">Categoría</h5>

            <label class="radio-label">
              <input type="radio" name="categoria" value="Libro">
              <span class="radio-custom"></span> Libros
            </label>

            <label class="radio-label">
              <input type="radio" name="categoria" value="Videojuego">
              <span class="radio-custom"></span> Videojuegos
            </label>
          </div>

          <div class="filtro-bloque">
            <h5 class="prod-dest title-left">Estado</h5>
            <label class="radio-label">
              <input type="radio" name="estado" value="Nuevo">
              <span class="radio-custom"></span> Nuevo
            </label>

            <label class="radio-label">
              <input type="radio" name="estado" value="Usado">
              <span class="radio-custom"></span> Usado
            </label>
          </div>

          <div class="filtro-bloque">
            <h5 class="prod-dest title-left">Tipo de publicación</h5>
            <label class="radio-label">
              <input type="radio" name="tipo" value="Venta">
              <span class="radio-custom"></span> Venta
            </label>

            <label class="radio-label">
              <input type="radio" name="tipo" value="Intercambio">
              <span class="radio-custom"></span> Intercambio
            </label>
          </div>            
        </div>
        <button class="btn btn-secondary" id="limp-filt">Limpiar filtros</button>
      </div>

      <div class="coleccion">
        {% if productos %}
          <div class="productos-contenedor">
            {% for producto in productos %}
              <a href="{% url 'ver_producto' producto.id_producto %}" class="producto-card-link"
                  data-categoria="{{ producto.categoria }}"
                  data-estado="{{ producto.estado }}"
                  data-tipo="{{ producto.tipo }}">
                <div class="producto-card">
                    
    
                  <div class="producto-img">
                    {% if producto.imagen %}
                      <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    {% else %}
                      <img src="{% static 'images/default_product.png' %}" alt="Sin imagen">
                    {% endif %}
                  </div>
    
                  <div class="producto-info">
                    <strong>{{ producto.nombre }}</strong><br>

                    <small>Estado: {{ producto.estado }}</small><br>
                    <small>Tipo: {{ producto.tipo }}</small><br>
                    <small>Categoría: {{ producto.categoria }}</small>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <p>No hay productos disponibles.</p>
        {% endif %}
      </div>
  </div>

{% endblock %}
