{% extends "index/base.html" %}
{% load static %}

{% block body %}
  <div class="reg-btn">
    <a onclick="window.history.back();" class="regresar">
        <span class="material-symbols-outlined">chevron_left</span> Regresar
    </a>
  </div>
  
  <h1 class="prod-dest">Agregar Producto</h1>
  
  <div class="add-prod-wrapper">
    <form method="POST" enctype="multipart/form-data" class="add-prod-form">
      {% csrf_token %}
        <p>{{ form.nombre.label_tag }} {{ form.nombre }}</p>
        <p>{{ form.estado.label_tag }} {{ form.estado }}</p>
        <p>{{ form.tipo.label_tag }} {{ form.tipo }}</p>
        <!-- Campo precio envuelto para ocultar -->
        <p id="precio-wrapper" style="display: none;">
          {{ form.precio.label_tag }} {{ form.precio }}
          {{ field.errors }}
        </p>
        <p>{{ form.direccion.label_tag }} {{ form.direccion }}</p>
        <p>{{ form.categoria.label_tag }} {{ form.categoria }}</p>
        <p>{{ form.imagen.label_tag }} {{ form.imagen }}</p>


      <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </form>

    <div class="img-previa-cont">

      <p>Vista previa de imagen: </p>

      <img src="{% static 'img/ALPATEX-V4.svg' %}" alt="vista previa" class="img-previa" id="img-previa">

    </div>

  </div>
  
{% endblock %}
