{% extends "index/base.html" %}
{% load static %}

{% block body %}

  <div class="reg-btn">
    <a href="{% url 'home' %}" class="regresar">
        <span class="material-symbols-outlined">chevron_left</span> Regresar
    </a>
  </div>

  <h1 class="prod-dest">Mis Productos</h1>

  <div class="add-prod">
    <a href="{% url 'producto_add_perf' %}" class="btn"><span>&#10009;</span>Agregar Producto</a>
  </div>

  {% if mensaje %}

    <p>{{ mensaje }}</p>

  {% else %}

    <div class="list-prod">
      {% for producto in productos %}
        <div class="list-prod-item">
          <!-- Imagen del producto -->
          <div class="img-prod">
            {% if producto.imagen %}
              <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}"
                    style="width: 100px; height: 100px; object-fit: cover;">
            {% else %}
              <img src="{% static 'images/default_product.png' %}" alt="Sin imagen"
                    style="width: 100px; height: 100px; object-fit: cover;">
            {% endif %}
          </div>

          <!-- Detalles del producto -->
          <div class="info">
            <strong>{{ producto.nombre }}</strong><br>
            <small>Publicado por: {{ producto.usuario.username }}</small><br>
            <small>Estado: {{ producto.estado }}</small><br>
            <small>Tipo: {{ producto.tipo }}</small><br>
            <small>Contacto: {{ producto.contacto }}</small><br>
            <small>Estado de Revisión: 
              <span
                {% if producto.estado_revision == "Pendiente" %} style="color: orange;"
                {% elif producto.estado_revision == "Rechazado" %} style="color: red;"
                {% elif producto.estado_revision == "Aceptado" %} style="color: green;"
                {% endif %}>
                {{ producto.estado_revision }}
              </span>
            </small><br>

            {% if producto.estado_revision == "Rechazado" %}
              <small><strong>Motivo de Rechazo:</strong> {{ producto.motivo_rechazo }}</small><br>
            {% endif %}
          </div>
          <div class="product-actions">
            <!-- Editar producto -->
            <a href="{% url 'producto_findEdit' pk=producto.id_producto %}" class="btn">Editar</a>

            <!-- Eliminar producto -->
            <a href="{% url 'producto_del' pk=producto.id_producto %}" class="btn">Eliminar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
