{% extends "index/base.html" %}

{% block body %}

  <div class="reg-btn">
    <a href="{% url 'perfil_usuario' %}"  class="regresar">
        <span class="material-symbols-outlined">chevron_left</span> Regresar
    </a>
  </div>
  
  <h1 class="prod-dest">Mi Membresía </h1>

  {% if perfil.membresia %}
    <p><strong>Plan:</strong> {{ perfil.membresia.nombre }}</p>
    <p><strong>Beneficios:</strong> {{ perfil.membresia.descripcion }}</p>
  {% else %}
    <p>No tienes una membresía activa.</p>
  {% endif %}

  <h3>Cambiar de Membresía</h3>
  <form method="post">
    {% csrf_token %}
    <select name="membresia_id">
      {% for m in membresias %}
        <option value="{{ m.id }}" {% if perfil.membresia and perfil.membresia.id == m.id %}selected{% endif %}>
          {{ m.nombre }} - ${{ m.precio }} CLP
        </option>
      {% endfor %}
    </select>
    <button type="submit">Pagar</button>
  </form>
{% endblock %}