{% extends "index/base.html" %}
{% load static %}
{% block title %}Producto{% endblock title %}
{% block body %}

    <div class="reg-btn">
        <a onclick="window.history.back();" class="regresar">
            <span class="material-symbols-outlined">chevron_left</span> Regresar
        </a>
    </div>
    

    <div class="prod-detalle">
        <div class="izq">
            <img src="{{ producto.imagen.url }}" class="img">
        </div>
        <div class="der">
            <h2 class="der-titulo">{{ producto.nombre }}</h2>

            {% if producto.tipo == 'Venta' and producto.precio %}
                <p class="precio">Precio: ${{ producto.precio}}</p>
            {% elif producto.tipo == 'Intercambio' %}
                <p class="precio">Producto para intercambio</p>
            {% endif %}

            <p><strong>Detalles del Producto:</strong> (Aquí puedes agregar más detalles)</p>
            <p><strong>Publicado por: <a href="{% url 'perfil_publico' producto.usuario.username %}">
                {{ producto.usuario.username }}</a></p>
            <p><strong>Estado:</strong> {{producto.estado}} </p>
            <p><strong>Dirección:</strong> {{ producto.direccion }}</p>
            <p><strong>Para:</strong> {{ producto.tipo }}</p>

            <!-- Agrega más detalles según lo necesites -->
            <a href="{% url 'detailms' username=producto.usuario.username %}?producto_id={{ producto.id_producto }}" class="btn btn-primary">Me Interesa</a>
        {% if user.is_authenticated and user != producto.usuario %}
        <form method="post" action="{% url 'toggle_favorito' producto.id_producto %}">
            {% csrf_token %}
            {% if producto in user.perfil.favoritos.all %}
                <button type="submit" class="btn btn-danger">💔 Quitar de favoritos</button>
            {% else %}
                <button type="submit" class="btn btn-primary">❤️ Agregar a favoritos</button>
            {% endif %}
        </form>
        {% endif %}
        
        </div>
    </div>
{% endblock %}