{% extends "index/base.html" %}
{% load static %}
{% block body %}
  <h1 class="prod-dest">Videojuegos Disponibles</h1>

  <div class="coleccion col-lib-vid">
    {% if videojuegos %}
      <div class="productos-contenedor">
        {% for videojuegos in videojuegos %}
          <a href="{% url 'ver_producto' videojuegos.id_producto %}" class="producto-card-link">
            <div class="producto-card">

              <div class="producto-img">
                {% if videojuegos.imagen %}
                  <img src="{{ videojuegos.imagen.url }}" alt="{{ videojuegos.nombre }}">
                {% else %}
                  <img src="{% static 'images/default_book.png' %}" alt="Sin imagen">
                {% endif %}
              </div>

              <div class="producto-info">
                <strong>{{ videojuegos.nombre }}</strong><br>
                <small>Publicado por: {{ videojuegos.usuario.username }}</small><br>
                <small>Estado: {{ videojuegos.estado }}</small><br>
                <small>Tipo: {{ videojuegos.tipo }}</small><br>
                <small>Categoría: {{ videojuegos.categoria }}</small><br>  
              </div>

            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>No hay videojuegos disponibles.</p>
    {% endif %}
  </div>
{% endblock %}
