{% extends "admin_alpatex/base.html" %}


{% block body %}
  <h1 class="prod-dest">Gestionar Membresías</h1>

  <div class="mem-container">

    <div class="mem-grid">
      {% for m in membresias %}
      <div class="mem-card">
        <h3>{{ m.nombre }}</h3>
        <p><strong>Precio:</strong> ${{ m.precio }}</p>

        <div class="mem-acciones">
          <a href="{% url 'editar_membresia' m.id %}" class="btn-mem-edit">Editar</a> |
          <a href="{% url 'eliminar_membresia' m.id %}" class="btn-mem-del">Eliminar</a>
        </div>
      </div>
      {% endfor %}
    </div>

    <a href="{% url 'crear_membresia' %}" class="btn nueva-mem">Nueva Membresía</a>
    
  </div>

{% endblock %}