{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' href='{% static "css/style.css"%}' rel='stylesheet'>

    <!--
        -ICONOS
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=chevron_left" />
    <!--
        -google font
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body class="cent-body">
    <div class="container">
        <a href="{% url 'index' %}" class="regresar"><span class="material-symbols-outlined">chevron_left</span> Regresar</a>
        <h1 class="titulo">Registrar Usuario</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Registrar</button>
        </form>
    </div>
    
</body>
</html>
