<!-- admin_alpatex/templates/admin_alpatex/usuarios.html -->
{% extends "admin_alpatex/base.html" %}
{% load static %}

{% block body %}

  <h1 class="prod-dest">Usuarios Registrados</h1>
  <div class="row">
    {% for usuario in usuarios %}
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="perfil-foto">
            <img src="{{ usuario.perfil.get_foto_perfil_url }}" alt="Foto de perfil" width="150">
            {% if usuario.perfil.membresia %}
                {% if usuario.perfil.membresia.nombre == 'Plata' %}
                    <img src="{% static 'img/plata.png' %}" class="marco-membresia" alt="Marco Plata">
                {% elif usuario.perfil.membresia.nombre == 'Oro' %}
                    <img src="{% static 'img/oro.png' %}" class="marco-membresia" alt="Marco Oro">
                {% endif %}
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ usuario.username }}</h5>
            <p class="card-text"><strong>Dirección:</strong> {{ usuario.perfil.direccion }}</p>
            <a href="{% url 'perfil_usuario' username=usuario.username %}">Ver Perfil</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
