{% extends "admin_alpatex/base.html" %}
{% load static %}
{% block title %}Producto{% endblock title %}
{% block body %}

    <style>
        .swiper {
        width: 100%;
        max-width: 400px;
        height: auto;
        }

        .swiper-wrapper {
        display: flex;
        }

        .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: auto;
        }

        .swiper-slide img {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
        }
    </style>

    <div class="reg-btn">
        <a onclick="window.history.back();" class="regresar">
            <span class="material-symbols-outlined">chevron_left</span> Regresar
        </a>
    </div>
    

    <div class="prod-detalle">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                <img src="{{ producto.imagen.url }}" alt="Imagen principal">
                </div>
                {% for img in producto.imagenes.all %}
                <div class="swiper-slide">
                    <img src="{{ img.imagen.url }}" alt="Imagen adicional">
                </div>
                {% endfor %}
            </div>
            <!-- Botones -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- Paginación -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="der">
            <h2 class="der-titulo">{{ producto.nombre }}</h2>
            <p class="precio">$ <!--${{ producto.precio }}--></p>
            <p><strong>Detalles del Producto:</strong> (Aquí puedes agregar más detalles)</p>
            <p><strong>Publicado por: <a href="{% url 'perfil_usuario' producto.usuario.username %}">
                {{ producto.usuario.username }}</a></p>
            <p><strong>Estado:</strong> {{producto.estado}} </p>
            <p><strong>Dirección:</strong> {{ producto.direccion }}</p>
            <p><strong>Para:</strong> {{ producto.tipo }}</p>

            <!-- Agrega más detalles según lo necesites -->

           
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Swiper('.swiper', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            });
        });
    </script>
{% endblock %}